---
import MainLayout from "./MainLayout.astro";
import Card from "../components/ui/Card.astro";
import ProseCard from "../components/ui/ProseCard.astro";
import DownloadCard from "../components/ui/DownloadCard.astro";
import { Icon } from "astro-icon/components";
import { DOWNLOADS, PLATFORMS } from "../data/downloads";

export interface Props {
	frontmatter: {
		title: string;
		platform: string;
		description?: string;
		screenshotLight?: string;
		screenshotDark?: string;
		screenshotAlt?: string;
	};
}

const {
	frontmatter: {
		title,
		platform,
		description,
		screenshotLight,
		screenshotDark,
		screenshotAlt,
	},
} = Astro.props;
---

<MainLayout title={title} description={description}>
	<Card>
		<div
			class="not-prose flex flex-wrap rounded-lg p-1 mb-6 bg-prism-accent-light dark:bg-prism-accent-dark"
		>
			{
				PLATFORMS.map((platformItem) => (
					<a
						href={platformItem.path}
						class:list={[
							"flex flex-col items-center justify-center gap-1",
							"flex-grow basis-0 px-2 py-2 text-center text-sm font-medium rounded-md",
							"text-prism-text-light dark:text-prism-text-dark",
							platform === platformItem.key &&
								"bg-prism-background-light dark:bg-prism-background-dark border border-black/10 dark:border-white/10",
						]}
					>
						<Icon size="24" name={platformItem.icon} />
						{platformItem.name}
					</a>
				))
			}
		</div>
		<h1 class="heading-1 mb-6">{title}</h1>

		<div class="flex flex-col gap-6">
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
				{
					(DOWNLOADS[platform as keyof typeof DOWNLOADS] || []).map(
						(section) => (
							<DownloadCard
								title={section.title}
								downloads={section.downloads}
							/>
						),
					)
				}
			</div>

			{
				screenshotLight && screenshotDark && (
					<div class="flex justify-center">
						<picture>
							<source
								media="(prefers-color-scheme: dark)"
								srcset={screenshotDark}
							/>
							<img
								src={screenshotLight}
								alt={
									screenshotAlt || `Prism Launcher screenshot on ${platform}`
								}
							/>
						</picture>
					</div>
				)
			}
		</div>
	</Card>

	<!-- markdown content goes here -->
	<ProseCard>
		<slot />
	</ProseCard>
</MainLayout>
